<footer class="footer">
  <div class="container">
    <div class="row">
      <a class="exxon-logo"><img alt="" src="assets/images/exxon-logo.png"></a>
      <ul class="footer-nav">
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Inside ExxonMobil</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">HR</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">IT</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">SSH&E</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Business and departments</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Locations</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Useful links</a></li>
        <li class="footer-nav__item"><a class="footer-nav__link" href="#">Company internets</a></li>
      </ul>
    </div>
  </div>
</footer>
