<ul class="float-menu">

  <li class="float-menu__items">
    <a (click)="goToTop('genealogy')" class="float-menu__link">
      <i class="icon-generology"></i>GENEAOLOGY
    </a>
  </li>
  <li class="float-menu__items">
    <a (click)="goToTop('generalinfo')" class="float-menu__link">
      <i class="icon-info"></i>GENERAL INFO
    </a>
  </li>
  <li class="float-menu__items">
    <a (click)="goToTop('cData')" class="float-menu__link">
      <i class="icon-data"></i>CHARACTERIZATION DATA</a>
  </li>
  <li class="float-menu__items">
    <a (click)="goToTop('testing')" class="float-menu__link">
      <i class="icon-testing"></i>TESTING
    </a>
  </li>
  <li class="float-menu__items">
    <a (click)="goToTop('reports')" class="float-menu__link">
      <i class="icon-reports"></i>REPORTS
    </a>
  </li>
</ul>
