<div class="filter-group">
  <div class="filter-title">
    <h4>Tests</h4>
  </div>
  <ul class="filter-list">
    <li class="filter-list-item">
      <label class="checkbox-all">
        <input (change)="selectAll()" [(ngModel)]="masterSelected" type="checkbox" />
        <span class="select-all"><i>Select all</i><b>Unselect All</b></span>
      </label>
    </li>
    <li *ngFor="let item of options" class="filter-list-item">
      <h6>{{item.TEST_METHOD}}</h6>
      <label class="checkbox">
        <input (change)="onToggle()" [(ngModel)]="item.checked" type="checkbox">
        <span></span>
      </label>
    </li>
  </ul>
</div>